<h1>Show Results Page</h1>

<%= form_tag favorites_display do %>
	<% @search_results.each do |favorite, index| %>
		<%= fields_for 'favorites []', favorite_with_index do |f, index| %>

		<div class = "field">
		<%= index +1 %>. <a href ="/favorites/<%=f.id%>"><%=f.name %></a><br>
		<%= image_tag f.image.url(:thumb) %><br>
		</div>
		
		<%= hidden_field_tag "user_id", @user.id %>
		<%= hidden_field_tag "title", @name.id %>
		<%= hidden_field_tag "image", @image.id %>
		<%= hidden_field_tag "description", @description.id %>


		<% end %>
	<% end %>

	<div class ="submit">
		<%= submit_tag %>
	</div>
<% end %>
