<h1>Show Results Page</h1>

<% @search_results.each_with_index do |favorite, index| %>
	<%= form_for @favorite, url: create_path, method: :post do |f|%>

		<div class = "field">
			
 				<%= index + 1 %>. <%= favorite["name"] %><br>
					
					<div style="width:150px; height: 150px;">
					<%= image_tag favorite["image"], style: 'width: 100%; height: auto' %>
					</div>
		</div>
		
		<%= hidden_field_tag "user_id", current_user.id %>
		<%= hidden_field_tag "name", favorite["name"] %>
		<%= hidden_field_tag "title", favorite["title"] %>
		<%= hidden_field_tag "image", favorite["image"] %>
		<%= hidden_field_tag "description", favorite["description"] %>

		<%= select_tag(:wanted, options_for_select([["Add to your favorites?", false],["Yes!", true],["No", false]]))%>


	<div class ="submit">
		<%= submit_tag "Add to Favorites"%>
	</div>
	<% end %>
	<hr>
<% end %>
