
<div class="container">
  <!-- <h1>Marvel SuperHeros & Villains</h1> -->
  </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%=image_tag("CaptainAmerica.jpg", size: "1050x300", alt: "Captain America")%>
      </div>

      <div class="item">
        <%=image_tag("Ironman.jpg", size: "1050x300", alt: "Ironman")%>
      </div>
    
      <div class="item">
        <%=image_tag("Spiderman.jpg", size: "1050x300", alt: "Spiderman")%>
      </div>

      <div class="item">
        <%=image_tag("Medusa.jpg", size: "1050x300", alt: "Medusa")%>
      </div>

      <div class="item">
        <%=image_tag("DrDoom.jpg", size: "1050x300", alt: "Dr. Doom")%>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



<div class = "mslandingtitle tbsmall">
	<h3><strong>Add Your Favorite Hero</strong></h3><br />
	<p>Who is your favorite Marvel SuperHero?  Captain America, Hulk, Thor, Black Widow, or Ironman.  Do you prefer to take sides with Dr. Doom, Madusa, Loki, Ultron or Mystique?  Create your ultimate list of SuperHero and Villanous characters and become immersed within the Marvel universe!</p>
</div><br />




<div class = "mslandingtitle tbsmall">
	<h3><strong>Get Recommendations</strong></h3><br />

	<p>Want to know when the latest release of your favorite Marvel SuperHero and Villanous character's comic book title is scheduled to be released?  Create your own account and find out when the hottest new recommended releases are available for you to experience based upon your favorites.   </p>

</div>





