
<h1>Character Detail Show Page</h1>



<%= @favorite.title %><br>
<%= @favorite.name%><br>
<%= image_tag @favorite["image"], style: 'width: 100px; height: 100px' %><br>
<%= @favorite.description%><br>
 
<%= link_to "Delete Hero", favorites_destroy_path(:project => @favorite.id), method: :delete %>

