
<h1>Character Detail Show Page</h1>
<p>Find me in app/views/favorites/show.html.erb</p>

<%= @favorite.title %>
<%= @favorite.name%>
<%= @favorite.image%>
<%= @favorite.description%>

<%= link_to "Delete", @favorite,
							method: :delete, data: {confirm: 'are you reallly really sure?'} %>
                            redirect_to "favorites/index"