	
<!-- <div class = "characterdetails">
	<h1>Character Details</h1>
</div><br /> -->

<!-- <hr> -->

<h1><%= @favorite.name%>
</h1>


<!-- <div class = "charname"><%= @favorite.name%> |
		<%= link_to "Remove from Favorites", favorites_destroy_path(:project => @favorite.id), method: :delete %>
</div><br /> -->

<div class="textboxes showflex">

<%= image_tag @favorite["image"] %>

<div class = "charbox1">
	<h4><%= @favorite.description%></h4>

<% if @titles.length > 0 %>
	<div class = "charbox2">
		<h3><strong>Appears in</strong></h3>
		<% @titles.each do |c| %>
		<%= c %><br>
		
		<% end %>

	</div>
	<% end %>

	<div class="upd"><%= link_to "Remove from Favorites", favorites_destroy_path(:project => @favorite.id), method: :delete %></div>

</div>