
<h1>Character Detail Show Page</h1>




<div><%= @favorite.name%><hr></div>
<div><%= image_tag @favorite["image"], style: 'width: 100px; height: 100px' %></div><br>
<div><%= @favorite.description%><hr></div><br>
<div><%= @favorite.title%><hr></div><br>
 
<div><%= link_to "Delete Hero", favorites_destroy_path(:project => @favorite.id), method: :delete %>

