<!DOCTYPE html>
<html>
  <head>
    <title>ComicsForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav>
    <% if !user_signed_in? %>
    <%=link_to "home", root_path %> •
    <%= link_to "sign in", new_user_session_path %> •
    <%=link_to "sign up", new_user_registration_path %>
  <% end %>

  <% if user_signed_in? %>
    <%=link_to "Home", root_path %> •
    <a href= " /users/edit"> Edit User Info. </a> •
    <a href= "/favorites/index">Favorites Show Page </a> •
    <%= link_to "Sign Out",destroy_user_session_path, method: :delete %>
    
    <%= form_tag(search_path) do %>
        <%= text_field_tag :input %>
        <%= submit_tag "search" %>
    <% end %>
  
  <% end %>

 </nav><br />

  <%= form_tag(search_path) do %>
          <%= text_field_tag :input %>
          <%= submit_tag "search" %>
  <% end %>

    <%= yield %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </body>
</html>
